= simple_form_for(@task, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :deadline, as: :string, input_html: { class: 'datepicker' }
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    - if @task.new_record?
      = link_to t(:cancel), '#', onClick: 'return false', class: 'btn', 'data-toggle' => "collapse",
        'data-target'=>"#new_task_container"
    - else
      = link_to t(:back), :back, class: 'btn'
