!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Quipper"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.container
      = link_to image_tag('quipper_logo.png', alt: 'Quipper'), root_path
    .navbar
      = render 'layouts/navigation'
    #main.container
      .row
        .span9
          - if flash[:notice]
            .alert.alert-success
              %button.close{'data-dismiss' => 'alert'} ×
              = flash[:notice]
          = yield
        .span3
          .heading
            %h2= t(:quipper_todo)
          %p= t(:quipper_explanation)
